<%- include("header") -%>

    <h2>This is abbout page</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas accusamus, quia adipisci molestias quis
        provident. Vero, voluptates, in hic eos dicta neque ea, recusandae sunt dolorem dolores doloribus. Blanditiis
        quasi atque animi hic cum nisi nemo a consectetur obcaecati praesentium quis nihil in quidem maxime deleniti
        fugit id, quos aut ipsa, dicta aspernatur omnis nobis? Temporibus nisi quisquam alias ducimus pariatur veritatis
        dolorum consequatur consequuntur esse suscipit sequi ipsa placeat tenetur facere nulla voluptatibus perspiciatis
        laudantium quibusdam deleniti, sapiente cumque adipisci enim impedit cum? Earum porro, dicta quod sit qui quia
        facilis reprehenderit doloribus hic quibusdam explicabo modi fugiat quaerat provident ratione, nulla odit id.
        Maiores repellat architecto perferendis, qui molestias exercitationem iure? Qui quia voluptatum nostrum harum
        iusto ipsa obcaecati magni dolorem perspiciatis esse! Sunt quisquam, officiis ad explicabo recusandae quos
        aperiam ullam. Error, at! Quaerat maiores, eligendi cum vitae voluptatibus quas laudantium, illo, dolor eius
        doloribus vel odit. Nostrum possimus totam aspernatur sequi dolor cum hic quaerat quia illo exercitationem
        minima facilis vel nemo, odit architecto distinctio, repudiandae quam praesentium. Ipsum cum necessitatibus
        dolore, reiciendis, ut, eius deleniti minus sequi vero maiores eaque blanditiis illum asperiores id doloribus
        beatae facilis. Unde, quia? Eius ex architecto dolorum commodi odit.
    </p>
<%- include("footer") -%>